#nome-registro{
    color: #44A754;
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

.detalhes-registro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detalhes-registro b{
    font-size: 1.5em;
}

.detalhes-registro p{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#mascaraRegistrar{
    font-size: 1em;
    text-align: start;
}

.column{
    display: flex;
    flex-direction: column;
}

.column + .column{
    margin-left: 100px;
}

.input-modal{
    font-size: 16px;
    width: 200px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 0.4em;
}

#alinhar-pago{
    text-align: end;
}

.button-color .button-all{
    background-color: #44A754;
    width: 15vw;
    height: 7vh;
}

.button-green-modal {
    background-color: #44A754;
    margin-top: 50px;
}


@media screen and (max-width: 700px) {

    .detalhes-registro {
        flex-direction: column;
    }

    .button-color .button-green-modal{
        margin-top: 20px;
        width: 30vw;
    }

    .column + .column{
        margin-left: 0;
    }

    #nostyleinput input {
        width: 20vw;
    }
}