.login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(270.19deg,
     #44A754 0.17%, 
     rgba(255, 255, 255, 0.0364583) 86.06%, 
     rgba(68, 167, 84, 0) 86.07%);

    height: 100vh;
    padding: 0px 200px;
}

.logo{
    animation: animation-logo 1.7s ease-in-out;
}

@keyframes animation-logo {
    0%{
        transform: translateX(-550px);
    }
    100%{
        transform: translateX(0px);
    }
}

.signIn{
    text-align: center;
    color: #F27F0C;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 30px;
    text-shadow: 3px 3px 2px #a95704;
}

#sign input::placeholder {
    color: #000;
}

#eye{
    position: absolute;
    top: 54.4vh;
    right: 44vh;
}

#enviarLogin{
    width: 8vw;
    margin-top: 5px;
    height: 4.5vh;
    border-radius: 5px;
}

.button-orange a{
    text-decoration: none;
    color: #FFF;
}

.button-color .button-orange{
    background-color: #F79736;
    color: #FFF;
    font-weight: bold;
    margin-top: 30px;
}

.button-orange:hover{
    background-color: #F27F0C;
}

.button-color #goTo{
    color: #e1780e;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    #eye {
        right: 33vh;
    }
}

@media screen and (max-width: 960px) {
    #eye {
        right: 21vh;
    }
}

@media screen and (max-width: 780px) {
    #eye {
        right: 8vh;
    }
}

@media screen and (max-width: 700px) {
    .login{
        flex-direction: column;
        justify-content: center;
    }

    .logo img{
        width: 305px;
        height: 172px;
    }

    .signIn {
        font-size: 2.5em;
        margin: 0;
        margin: 10px 0px 15px 0px;
    }

    #sign input {
        width: 270px;
        height: 1.5vh;
    }

    #eye {
        top: 62vh;
        right: 28vh;
    }

    #enviarLogin {
        width: 18vw;
    }
}

@media screen and (max-width: 630px) {
    #eye {
        right: 25vh;
    }
}

@media screen and (max-width: 590px) {
    #eye {
        right: 21vh;
    }
}

@media screen and (max-width: 530px) {
    #eye {
        right: 17vh;
    }
}

@media screen and (max-width: 440px) {
    #eye {
        right: 11vh;
    }
}