.login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(270.19deg,
     #44A754 0.17%, 
     rgba(255, 255, 255, 0.0364583) 86.06%, 
     rgba(68, 167, 84, 0) 86.07%);

    height: 100vh;
    padding: 0px 200px;
}

.logo{
    animation: animation-logo 1.7s ease-in-out;
}

@keyframes animation-logo {
    0%{
        transform: translateX(-550px);
    }
    100%{
        transform: translateX(0px);
    }
}

.signIn{
    text-align: center;
    color: #F27F0C;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 30px;
    text-shadow: 3px 3px 2px #a95704;
}

#sign input::placeholder {
    color: #000;
}

#sign input:focus{
    box-shadow: 0 0 0 0; 
    border: 2px solid #44A754;
    outline: 0;
}

/* relacionado ao olho para ver a senha */

.password{
    width: 350px;
    height: 2vh;
    padding: 10px 10px 10px 20px;
    border: 2px solid #44A754;
    border-radius: 5px;
    background-color: #FFF;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
}

.password input{
    border: none;
    font-size: 15px;
    width: 320px;
}

.password input:focus{
    outline: 0;
}

.password input::placeholder {
    color: #000;
}

/* ------------------------------- */


#sendSign{
    width: 8vw;
    margin-top: 5px;
    height: 4.5vh;
    border-radius: 5px;
}

.navSign{
    display: flex;
    justify-content: center;
}

.navSign a{
    color: #e1780e;
    text-decoration: none;
    font-weight: bold;
}

.navSign a:hover{
    color: #F27F0C;
}


@media screen and (max-width: 700px) {
    .login{
        flex-direction: column;
        justify-content: center;
    }

    .logo img{
        width: 305px;
        height: 172px;
    }

    .signIn {
        font-size: 2.5em;
        margin: 0;
        margin: 10px 0px 15px 0px;
    }

    #sign input {
        width: 270px;
        height: 1.5vh;
    }

    .password {
        width: 270px;
        height: 1.5vh;
    }

    #sendSign {
        width: 18vw;
    }
}