.relatorioTitle h1 {
    color: #44A754;
    font-size: 35px;
    padding: 100px 0px 30px 0px;
}

#formFilter{
    width: 30vw;
    margin-bottom: 3%;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 3%;
}

.search input{
    border: 0 none;
    outline: 0;
    padding: 0 20px 0 5px;
    font-size: 1.15em;
    height: 2.5vh;
    width: 30vw;
}

.button-orange{
    border: 0 none;
    padding-left: 5px;
    background-color: transparent;
    color: #797979;
    width: 5vh;
    height: 5vh;
    box-shadow: none;
    border-radius: 7px;
    cursor: pointer;
}

details summary{
    /* list-style: none; */
    cursor: pointer;
}

.filters{
    display: flex;
    flex-direction: row;
}

.filters details{
    position: absolute;
    z-index: 1;
    background-color: #fff;
}

.filters details + details{
    margin-left: 250px;
}

.filter{
    margin-top: 8px;
    padding: 0 20px;
}

.filter p{
    font-size: 1.1em;
    font-weight: bold;
}

.filter input{
    width: 10vw;
    height: 2vh;
    padding: 8px;
    font-size: 1em;
    border: 0.15em solid #000;
    border-radius: 5px;
}

.filter select{
    margin: 20px 0 40px 0;
    width: 12vw;
    height: 5vh;
    padding: 4px;
    font-size: 1em;
    border: 0.15em solid #000;
    border-radius: 5px;
}

.sendFilter{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sendFilter button{
    color: #F79736;
    display: flex;
    align-items: center;
    border: 0 none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
}

/* --------- */

#relatorio-table{
    margin-top: 1%;
    padding: 1px 70px 1px 1px;
}

#relatorio-table th, td{
    padding: .5em 0;
}

.largura-dobrada {
    width: 17vw;
}

.infoFIltro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intervalo{
    margin-top: 1%;
}

.noInput::-webkit-calendar-picker-indicator{
    display: none;
}

.noInput{ 
    border: 0;
    font-size: 1em;
    outline: 0;
}

.noInput + .noInput{ 
    margin-left: 25px;
}

#noInput{ 
    margin-left: 15px;
}


.pagination{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
  
.pagination button{
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.pagination button:hover{
    background-color: #F27F0C;
}

.financialArea{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15em;
}

.nostyleinput{
    border: 0 none;
    outline: 0;
    cursor: default;
    background-color: transparent;
    color: #000;
    font-size: 1em;
    width: 10vw;
    font-style: italic;
}

#nostyleinput{
    text-align: end;
    padding-right: 40px;
}

.nostyleinput input:focus{
    block-size: auto;
}


@media screen and (max-width: 700px) {
    #formFilter {
        width: 82vw;
    }

    .sendFilter {
        margin: 10px 0 15px 0;
    }

    .search input {
        width: 65vw;
    }

    .filter input {
        width: 32vw;
        font-size: 1em;
        margin-bottom: 10px;
    }

    .filter select {
        width: 32vw;
        font-size: 1em;
        margin: 0 0 15px 0;
    }

    .filter option{
        font-size: .8em;
    }

    .container-table{
        padding: 1px 30px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    #relatorio-table{
        margin-top: 8%;
        padding: 1px 50px 1px 50px;
        font-size: 0.7em;
    }

    .pagination{
        margin-bottom: 35px;
    }

    .values{
        gap: 2em;
    }

    .nostyleinput {
        width: 20vw;
    }
}

@media screen and (max-width: 600px) {
    .container-table {
        padding: 1px 30px;
    }

    #relatorio-table {
        font-size: 1em;   
        padding: 1px 15px 1px 30px;
    }

    .alignTD{ 
        padding-right: 40px;
    }

    #alignTD{ 
        padding-right: 55px;
    }

    .largura-dobrada {
        width: auto;
        padding-right: 40px;
    }

    #line td {
        padding: 5px 0px;
    }
    
    .filters{
        flex-direction: column;
    }

    .filters details + details{
        margin-left: 200px;
    }
    
    .filter select{
        width: 46vw;
    }

    .financialArea {
        gap: 2em;
        margin-bottom: 40px;
    }

    .values{
        flex-direction: column;
        gap: none;
    }

    .nostyleinput{
        width: 25vw;
    }

    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr{
        display: block;
        padding: 0;
        margin-bottom: 2em;
    }

    .noMargin{
        margin-bottom: 0;
    }

    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-size: 0.85em;
        font-weight: bold;
        text-transform: uppercase;
    }
}