.cards{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #44A754;
    color: #FFF;
    width: 13vw;
    padding: 20px 30px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
}

.bold{
    font-size: 18px;
    margin-bottom: 0.3em;
}

.alignEnd{
    text-align: end;
}

details summary{
    /* list-style: none; */
    cursor: pointer;
}

.detalhes-relatorio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9fff9;
}

.dados-titulo{
    display: flex;
    flex-direction: column;
}

.Pago{
    color: rgb(149, 149, 0);
}

.Inadimplente{
    color: red;
}

.Creditado{
    color: green;
}