details summary{
    background-color: #FFF;
    list-style: none;
}

details{
    background-color: #A2FDB1;
    width: 100%;
}

.detalhes-relatorio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.dados-titulo{
    display: flex;
    flex-direction: column;
}

.pago{
    color: #44A754;
}

.inadimplente{
    color: #DB0E0E;
}