.opcoes select{
    width: 382px;
    height: 5vh;
    padding: 8px 15px;
    font-size: 15px;
    border: 2px solid #44A754;
    border-radius: 5px;
    margin-bottom: 5%;
}

#termos{
    margin-bottom: 6%;
    text-align: center;
}

#termos a{
    text-decoration: underline;
    color: #000;
}
