.container-table{
    padding: 1px 200px;
    margin-bottom: 2%;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr{
    border-bottom: 1px solid rgb(141, 137, 137);
    padding: .35em;
} 

table th, table td{
    padding: .62em;
    text-align: center;
}

table th{
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

tr button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i{
    align-self: self-start;
}

@media screen and (max-width: 970px) {

    .container-table {
        padding: 1px 25px;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 700px) {
    i {
        margin-bottom: 15px;
    }
}