#Pago{
    color: rgb(149, 149, 0);
}

#Inadimplente{
    color: red;
}

#Creditado{
    color: green;
}

#nostyleinputMenor{
    width: 100px;
}

#table-WithoutScroll {
    padding: 0;
    height: 40vh;
}

#line td {
    padding: 10px 0px;
}