.sidebar{
    background-color: #44A754;
    position: fixed;
    height: 100vh;
    width: 230px;
    overflow: auto;
    border-bottom-right-radius: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.sidebar:before {
	content: "";
    position: fixed;
    height: 70px;
    width: 70px;
    top: 0;
    left: 230px;
    background: #44A754;
    border-bottom-right-radius: 70px;
}

.sidebar:after {
	content: "";
    position: fixed;
    height: 70px;
    width: 70px;
    top: 0;
    left: 230px;
    background: #ffffff;
    border-top-left-radius: 70px;
}

.sidebar .headerLogo #logoHeader{
    height: 200px;
    width: 200px;
    padding: 30px 15px 30px 15px;
    display: block;
    filter: drop-shadow(5px 5px 6px #1c722a);
}

.nav a{
    display: flex;
    text-decoration: none;
    padding: 15px 0px;
    width: 80%;
    margin-left: 20%;
}

.nav a svg{
    color: #174b8f;
    margin-left: 30%;
    filter: drop-shadow(1px 1px 5px #b8a8ff);
}

.nav a:hover{
    background-color: #FFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#aprova-white, #crudUser-white, #cadastro-white, #crudCli-white, #registra-white, #relatorio-white{
    background-color: #FFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#signoutEnd{
    margin-top: 75%;
}

#signout svg, #signoutEnd svg{
    color: #fff;
    margin: 40px 0 15px 55px;
}

#signout svg:hover, #signoutEnd svg:hover{
    color: #F27F0C;
    filter: drop-shadow(1px 1px 1.5px #fbfaf9);
    background-color: transparent !important;
}

/* ---------------------------------------- */

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.sidebar_open {
    background-color: #44A754;
    position: fixed;
    overflow: auto;
    display: flex;
    justify-content: space-between;

    padding: 0 1em;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.sidebar_open .headerLogo #logoHeader{
    height: 66px;
    width: 132px;
    padding: 1em 0 1em 3em;
    filter: drop-shadow(5px 5px 6px #1c722a);
}

@media screen and (max-width: 700px) {
    
    input[type=checkbox]:checked~.nav {
        display: block;
    }

    .hamburger {
        display: block;
        padding: 1.5em 3em 0 0 ;
    }
    
    .sidebar {
        padding: 0 1em;
        height: auto;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: flex;
    justify-content: space-between;
        flex-direction: row;
    }

    .sidebar:after {
        display: none;
    }

    .sidebar .headerLogo #logoHeader{
        height: 66px;
        width: 132px;
        padding: 1em 0 1em 3em;
    }

    .nav {
        display: none;
        position: absolute;
        background-color: #44A754;
        right: 0;
        left: 0;
        text-align: center;
        margin-top: 10%;
        padding: 15px 0px;
    }

    .nav a {
        width: 100vw;
        margin-left: 0%;
    }

    .nav a+a {
        margin: 10px 0 10px 0;
    }

    .nav a:hover {
        border-radius: 0;
    }

    #aprova-white, #crudUser-white, #cadastro-white, #crudCli-white, #registra-white, #relatorio-white {
        background-color: #FFF;
        border-radius: 0;
    }

    .nav a svg, #signout svg, #signoutEnd svg {
        margin-left: 50%;
    }

    #signoutEnd {
        margin-top: 10%;
    }

}