.sidebar{
    background-color: #44A754;
    position: fixed;
    height: 100vh;
    width: 230px;
    overflow: auto;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nav img{
    height: 200px;
    width: 200px;
    padding: 30px 15px 30px 15px;
    display: block;
    filter: drop-shadow(5px 5px 6px #1c722a);
}

.nav a{
    display: flex;
    text-decoration: none;
    padding: 15px 0px;
    width: 80%;
    margin-left: 20%;
}

.nav a svg{
    color: #174b8f;
    margin-left: 30%;
    filter: drop-shadow(1px 1px 5px #b8a8ff);
}

.nav a:hover{
    background-color: #FFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#aprova-white, #crudUser-white, #cadastro-white, #crudCli-white, #registra-white, #relatorio-white{
    background-color: #FFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.signout{
    display: flex;
    justify-content: center;
}

.signout svg{
    color: #fff;
    margin-bottom: 50px;
}

.signout svg:hover{
    color: #ffa347;
    filter: drop-shadow(1px 1px 5px #793f05);
}