/* estilização para os inputs  */

.inputs{
    margin-top: 50px;
}

.campo{
    position: relative;
    margin-bottom: 15px;
}

.campo input{
    width: 350px;
    height: 2vh;
    padding: 10px 10px 10px 20px;
    font-size: 15px;
    border: 2px solid #44A754;
    border-radius: 5px;
}

span{
    position: absolute;
    left: 10px;
    font-size: 15px;
    color: #44A754;
    pointer-events: none;
    transition: .4s;
    top: 10px;
}

.campo input:focus{
    border: none;
    border: 2px solid #000;
    transition: .4s ease-in-out;
}

.campo input:focus + span,
.campo input:valid + span{
    left: 1-px;
    font-size: 15px;
    color: #000;
    padding: 0px 10px;
    background: #FFF;
    border-radius: 5px;
    top: -10px;
}

.campo .fixo + span{
    left: 1-px;
    font-size: 15px;
    padding: 0px 10px;
    background: #FFF;
    border-radius: 5px;
    top: -10px;
    color: #44A754;
}

 /* para campos de endereço  */

#num::-webkit-outer-spin-button,
#num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#num {
    -moz-appearance: textfield;
}

#preco {
    text-align: end;
}

.row{
    display: flex;
    flex-direction: row;
}

.endereco1 + .endereco2{
    margin-left: 10px;
}

.endereco1 input{
    width: 237px;
}

.endereco2 input{
    width: 70px;
}

.endereco2 span{
    left: 290px;
}

#comple{
    color: #44A754;
}

/* botoes */

.button-color{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.button-color button{
    width: 12vw;
    height: 6vh;
    color: #FFF;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    box-shadow: 3px 4px 4px #00000040;
    cursor: pointer;
}

#button-add button{
    width: 10.8vw;
}

.button-green{
    background-color: #44A754;
}

.button-green:hover{
    background-color: #398a47;
}

.add{
    text-align: end;
}


@media screen and (max-width: 700px) {
    .campo input {
        width: 285px;
    }

    .button-color .button-green {
        width: 25vw;
    }

    .endereco1 input{
        width: 180px;
    }
    
    .endereco2 input{
        width: 60px;
    }
    
    .endereco2 span{
        left: 233px;
    }
}

/* ver,editar cliente */

#arrowLeft{
    display: flex;
    align-self: start;
    margin: 60px 0px -90px 50px;
}