* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li{
  list-style: none;
}

.content{
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #44A754;
  font-size: 35px;
  padding: 100px 0px 50px 0px;
}

h2, h3{
  color: #44A754;
  font-size: 20px;
  margin-top: 50px;
}

h2{
  margin-left: 30px;
}

h3{
  margin-left: 100px;
}